@import '~@nebular/theme/styles/global/breakpoints';

::ng-deep nb-layout-header {
  padding-top: env(safe-area-inset-top);

  nav {
    padding-right: 0 !important;
  }
}

::ng-deep nb-sidebar .main-container {
  padding-top: env(safe-area-inset-top);
}


.bg-logo {
  background-image: url('/assets/images/quarter_logo_cashstory.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 20%;
  background-attachment: fixed;
}

@include media-breakpoint-down(sm) {

  .bg-logo {
    background-size: 80%;
  }
}

.theme-holder {
  background: #3a33332b;
  padding: 11px 17px 10px 14px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  position: absolute;
  bottom: 15px;
  right: 0;
}

.theme-card {
  padding: 0 !important;
}

.theme-preview {
  height: 120px;
  background-repeat: round !important;
}

.theme-name {
  padding-left: 10px;
  padding-top: 5px;
}
