.file-upload {
  display: block;
  text-align: center;
  font-size: 12px;
  width: 100%;
  box-shadow: #88888850;
  -webkit-box-shadow: 0 0 0 0.2rem #88888850;
  border-radius: 5px;
}

.file-upload .file-select {
  display: block;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select .file-select-button {
  background: #42db7d;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
  color: #212529;
  font-weight: 500;
}

.file-upload .file-select:hover {
  box-shadow: #fbc500;
  -webkit-box-shadow: 0 0 0 0.2rem #fbc500;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
  background: #fbc500;
  color: #fff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
